.body_main {
    margin: 50px 10% 0 10%;
}

.body_main p {
    margin-top: 0;
    margin-bottom: 0;
}

.body_title_block {
    /* background-color: lightblue; */
    width: auto;
}

.body_title_block_title {
    font-size: 30px;
    color: #4b4b4b;
    line-height: 1.5;
}

.body_content_block {
    margin: 30px 0 50px 0;
    /* background-color: lightgoldenrodyellow; */
}